
{% include "header.html" %}

<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

{% block body %}
<div class="container">

    <div class="row">

        <div class="col md-12">



            <h2>Recipe List <button type="button" class="btn btn-success  pull-right" data-toggle="modal" data-target="#myModal">Add Recipies</button></h2>

            <table class="table table-striped">


              <tr>
                <th>Serial</th>
                <th>Name</th>
                <th>Preparation time</th>
                <th>Difficulty</th>
                <th>Vegetarian</th>
              </tr>
            

              <tr>
                <td>1</td>
                <td>biriyani</td>
                <td>30 mins</td>
                <td>2</td>
                <td>Yes</td>
                <td>
                  <a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit">Edit</a>
                  <a href="#" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure For Delete?')">Delete</a>
                </td>
            
              </tr>
            </table>
    </div>

          
  {% include "footer.html" %}
  </div>


</div>


{% endblock %}


<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
